html {
    max-width: 100%;
    height: auto;
    width: auto;
}

body {
  max-width: 100%;
  height: auto;
  width: auto;  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  font-size: 100%;
  font-family: 'Arial'; 
}

h1 {
    margin-top: 180px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 70px;
}

h2 {
    margin-top: 10px;
    text-align: left;
    font-size: 50px;
}

header a {
    text-decoration: none;
    text-align: center;
    color: black;
}

header a:hover {
    text-decoration: underline;
    text-align: center;
    color: black;
}

.term-menu {
    text-decoration: none;
    text-align: center;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}

.term-button {
    display: inline-block;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    margin: auto;
    padding: 1%;
    font-size: 150%;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5%;
    font-weight: bolder;
    text-align: center;
}

.term-menu:hover .term-button {
    background-color: black;
    color: white;
}

.topic-menu {
    text-decoration: none;
    text-align: center;
    display: inline;
}

.topic-button1 {
    display: block;
    background-color: indianred;
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 200%;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
}

.topic-button2 {
    display: block;
    background-color: darkgoldenrod;
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 200%;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
}

.topic-button3 {
    display: block;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 200%;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
}

.topic-menu:hover .topic-button1 {
    background-color: #000;
    color: white;
}

.topic-menu:hover .topic-button2 {
    background-color: #000;
    color: white;
}

.topic-menu:hover .topic-button3 {
    background-color: #000;
    color: white;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
}

.topic1 {
    position: fixed;
    list-style-type: none;
    width: 25%;
    overflow: auto;
    height: 100%;
    padding-top: 120px;
    overflow-x: hidden;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: indianred;
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.topic1 a {
    display: block;
    color: #000;
    padding: 10px 15px 10px 15px;
    margin: auto;
    text-decoration: none;
}

.topic1 a:hover {
    background-color: #FFF;
    color: black;
}

.topic2 {
    position: fixed;
    list-style-type: none;
    width: 25%;
    overflow: auto;
    height: 100%;
    padding-top: 120px;
    overflow-x: hidden;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: darkgoldenrod;
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.topic2 a {
    display: block;
    color: #000;
    padding: 10px 15px 10px 15px;
    margin: auto;
    text-decoration: none;
}

.topic2 a:hover {
    background-color: #FFF;
    color: black;
}

.topic3 {
    position: fixed;
    list-style-type: none;
    width: 25%;
    overflow: auto;
    height: 100%;
    padding-top: 120px;
    overflow-x: hidden;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: dodgerblue;
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.topic3 a {
    display: block;
    color: #000;
    padding: 10px 15px 10px 15px;
    margin: auto;
    text-decoration: none;
}

.topic3 a:hover {
    background-color: #FFF;
    color: black;
}

.topic1-content {
    width: 50%;
    color: #FFF;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    text-align: center;
}

.topic1-content a {
    display: inline-block;
    background-color: indianred;
    width: 70%;
    padding-top: 3%;
	padding-bottom: 3%;
    color: #FFF;
    float: left;
    text-align: center;
    text-decoration: none;
}

.topic1-content a:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.topic1-content:hover {
    background-color: transparent;
}
