html, body {
    padding: 0;
    margin: 0;
}

.list-group {
    width: 90%;
    padding: 3%;
    height: auto;
    margin: 2% auto;
    display: table;
    text-align: center;
    background: rgba(255,255,255,0.5);
    height: 328px;
    border-radius: 20px;
}

/*Answers and Question Format*/
.quiz-container {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    background: black;
}

.questions {
    font-family: monospace;
    color: white;
    font-size: 32px;
}

.answers {
    display: table;
    margin: 0 auto;
}
.answers_item { 
    margin: 2%;
    color: #000000;
    display: block;
    position: relative;
    float: left;
    width: 45%;
    height: 100px;
}

.answers_item input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.answers_item label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 28px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
}

.answers_item:hover label{ 
    color: #FFFFFF;
    border-color: #FFFFFF;
    transition: border .30s linear;
}

.answers_item .check{
    display: block;
    position: absolute;
    border: 3px solid #000000;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 35px;
    left: 20px;
	z-index: 5;
	transition: border .25s linear;
}

.answers_item:hover .check { border: 5px solid #FFFFFF; }
.answers_item .check::before {
    display: block;
    position: absolute;
	content: '';
    border-radius: 100%;
    height: 28px;
    width: 28px;
    top: -1px;
    left: -1px;
    margin: 0 auto;
	transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check { border: 5px solid #FFFFFF; }
input[type=radio]:checked ~ .check::before{ background: #FFFFFF; }
input[type=radio]:checked ~ label{ color: #FFFFFF; border-color: #FFFFFF; }