body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto" ,Open Sans;
}

.cover {
    min-height:100%;
    display:flex;
    align-items:center
}
#quesNo {font-size: 3vh;}
#hint {font-size: 5vh;}
#hint::before {content: 'Hint: '; font-size: 2.5vh;}